/**
 * Global
 */

.awcshm-hidden {
    display: none !important;
}

.cedarmaps-logo {
    display: none !important;
}

.awcshm-map-marker-icon {
    z-index: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 9em;
    max-height: 9em;
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    -o-transform: translate(-50%, -100%);
    transform: translate(-50%, -100%);
    pointer-events: none;
}

.awcshm-map-container {
    position: relative;
}

#destination_address_field {
	display: block !important;
}

.awcshm-destination-locator-map {
    width: 100%;
    height: 25rem;
    direction: ltr;
    position: sticky !important;
}

.awcshm-destination-locator-cta {
    position: absolute !important;
    bottom: 5rem !important;
    right: 0.68rem !important;
    display: inline-block !important;
    width: 1.75rem !important;
    height: 1.68rem !important;
    margin: 0rem !important;
    padding: 0rem !important;
    border: 0rem !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    border-radius: 2px !important;
    background: #ffffff url('../img/marker-small.png') center center no-repeat !important;
    cursor: pointer !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    outline: 0 none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px -1px !important;
    -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px -1px !important;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px -1px !important;
    -webkit-transition: background-color 250ms ease !important;
    -o-transition: background-color 250ms ease !important;
    -moz-transition: background-color 250ms ease !important;
    transition: background-color 250ms ease !important;
}

.awcshm-destination-locator-cta:hover {
    background-color: #f7f7f7 !important;
}

.awcshm-destination-locator-cta:active {
    background-color: #f2f2f2 !important;
}

.awcshm-loading-field {
    background: url('/wp-includes/images/spinner.gif');
    background-size: 1.25rem 1.25rem;
    background-position: left center;
    background-repeat: no-repeat;
}

/* .awcshm-map-visible #billing_address_1_field,
.awcshm-map-visible #billing_address_2_field,
.awcshm-map-visible #shipping_address_1_field,
.awcshm-map-visible #shipping_address_2_field {
	display: none !important;
} */
.woocommerce-checkout #awcshm-address-details {
    height: unset;
    overflow: unset;
}

.awcshm-map-visible #awcshm-address-details {
    height: unset;
    overflow: unset;
}

.awcshm-destination-locator-input-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 5px;
}

.awcshm-destination-locator-input-wrapper::after {
    content: '';
    z-index: 1;
    position: absolute;
    top: 50%;
    right: 0.375rem;
    width: 1.25rem;
    height: 1.25rem;
    background: url('/wp-includes/images/spinner.gif') center center no-repeat;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: opacity 250ms ease;
    -o-transition: opacity 250ms ease;
    -moz-transition: opacity 250ms ease;
    transition: opacity 250ms ease;
}

.awcshm-destination-locator-input-wrapper.loading::after {
    opacity: 1;
}

.awcshm-destination-locator-input-wrapper input {
    width: 100%;
}

.awcshm-destination-locator-autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: 0;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 0.1875rem 0.3125rem rgba(0, 0, 0, 0.25);
    -webkit-transition: visibility 250ms ease, opacity 250ms ease;
    -o-transition: visibility 250ms ease, opacity 250ms ease;
    -moz-transition: visibility 250ms ease, opacity 250ms ease;
    transition: visibility 250ms ease, opacity 250ms ease;
}

.awcshm-destination-locator-autocomplete-result {
    margin: 0;
    padding: 0.55rem 0.625rem;
    border-bottom: 1px solid #eeeeee;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1 !important;
    font-size: 1em;
    cursor: pointer;
}

.awcshm-destination-locator-autocomplete-result::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1rem;
    height: 1rem;
    margin: 0 0.1875rem;
    background-image: url('../img/marker-small.png');
}

.awcshm-destination-locator-autocomplete-result:last-child {
    border-bottom-width: 0;
}

.awcshm-destination-locator-autocomplete-result.active {
    background-color: #f4f4f4;
}

.awcshm-destination-locator-input-wrapper input + .awcshm-destination-locator-autocomplete-results {
    visibility: hidden;
    opacity: 0;
}

.awcshm-destination-locator-input-wrapper input:focus + .awcshm-destination-locator-autocomplete-results:not(:empty) {
    visibility: visible;
    opacity: 1;
}

.awcshm-return-price-alert {
    display: block;
}

.woocommerce-view-order .awcshm-dashboard-track-button {
    margin-bottom: 1.25em;
}

.awcshm-dashboard-track-button + * {
    margin-top: 1em;
}

#shipping_address_1_field,
#shipping_address_2_field,
._shipping_address_1_field,
._shipping_address_2_field {
    display: none;
}

#order_data .order_data_column .form-field._shipping_address_number_field {
    float: right;
    clear: right;
}

/**
 * RTL Fix
 */
[dir="rtl"] .awcshm-destination-locator-input-wrapper::after {
    left: 0.375rem;
    right: auto;
}

[dir="rtl"] #order_data .order_data_column .form-field._shipping_address_number_field {
    float: left;
    clear: left;
}

[dir="rtl"] #destination_address_autocomplete {
    direction: rtl;
}

/**
 * Email
 */
    .alopeyk-email * {
        direction: 'rtl' ;
        color: #95a5a6;
        font-size: 13px;
        line-height: 1.7;
        text-rendering: optimizeLegibility !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
        -ms-text-size-adjust: 100% !important;
        -webkit-text-size-adjust: 100% !important;
    }
    .alopeyk-email body {
        margin: 0;
        padding: 0;
    }
    .alopeyk-email a {
        display: inline-block;
        vertical-align: middle;
        text-decoration: none;
        font-family: inherit !important;
        font-size: inherit !important;
        font-style: inherit !important;
        font-variant-caps: inherit !important;
        line-height: inherit !important;
        font-weight: 600 !important;
    }
    .alopeyk-email p {
        margin-top: 13px;
        margin-bottom: 13px;
        text-align: 'right';
    }
    .alopeyk-email img {
        margin: 0 !important;
        color: inherit !important;
        font: inherit !important;
        border: 0 none !important;
        white-space: nowrap;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .alopeyk-email a img {
        display: block;
    }
    .alopeyk-email a, .alopeyk-email b, .alopeyk-email strong {
        font-weight: 600;
    }
    .alopeyk-email .ltr {
        direction: ltr !important;
    }
    .alopeyk-email .wrapper-inner {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .alopeyk-email .content-inner {
        padding: 40px;
    }
    .alopeyk-email .footer-inner {
        padding: 30px 50px 30px 50px;
    }
    .alopeyk-email .footer-inner * {
        margin: 0;
        padding: 0;
        color: #ffffff;
        text-align: center;
        font-size: 11px;
        line-height: 150%;
    }
    .alopeyk-email .footer-data > *,
    .alopeyk-email .footer-inner > * {
        margin: 0 0 5px;
    }
    .alopeyk-email .footer-data > *:last-child,
    .alopeyk-email .footer-inner > *:last-child {
        margin: 0 0 0 0;
    }
    .alopeyk-email .footer-copyright {
        margin: 10px 0 25px;
        font-size: 13px;
        font-weight: 600;
    }
    .alopeyk-email .logo {
        margin-top: 50px;
        font-size: 48px !important;
        color: #1da5e1 !important;
    }
    .alopeyk-email .social-link {
        margin: 0 4px;
    }