
/**
 * Global
 */
.awcshm-hidden {
	display: none;
}
.awcshm-full-width {
	width: 100% !important;
}
.awcshm-outbound {
	z-index: -1;
	position: fixed;
	top: -999px;
	left: -999px;
	width: 0;
	height: 0;
	color: transparent;
	font: 0/0 a;
	text-indent: -999px;
	text-align: left;
	overflow: hidden;
}
.awcshm-phone {
	display: inline-block;
	vertical-align: middle;
	direction: ltr !important;
}

/**
 * Sidebar Menu
 */

.toplevel_page_alopeyk .wp-menu-image img {
	padding-top: 4px !important;
	max-width: 27px;
}

/**
 * Maps & AutoCompletes
 */

.cedarmaps-logo {
	display: none !important;
}
.store-locator-map {
	width: 100%;
	height: 25rem;
}
.awcshm-map-marker-icon {
	z-index: 2;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 9em;
	max-height: 9em;
	-webkit-transform: translate( -50%, -100% );
	-moz-transform: translate( -50%, -100% );
	-ms-transform: translate( -50%, -100% );
	-o-transform: translate( -50%, -100% );
	transform: translate( -50%, -100% );
	pointer-events: none;
}
.form-table td label,
.store-locator-input-wrapper,
.awcshm-destination-locator-input-wrapper {
	font-size: 14px;
}
.store-locator-input-wrapper {
	z-index: 1001;
	position: absolute;
}
.awcshm-destination-locator-input-wrapper {
	color: #444;
}
.awcshm-destination-locator-input-wrapper input {
	margin: 0;
}
.awcshm-destination-locator-input-wrapper .awcshm-destination-locator-autocomplete-results {
	margin: 0 1px;
}
.store-locator-input-wrapper::after {
	content: '';
	z-index: 1;
	position: absolute;
	top: 50%;
	right: 0.375rem;
	width: 1.5rem;
	height: 1.25rem;
	background: #ffffff url( '../../../../../wp-includes/images/spinner.gif' ) center center no-repeat;
	opacity: 0;
	-webkit-transform: translateY( -50% );
	-moz-transform: translateY( -50% );
	-ms-transform: translateY( -50% );
	-o-transform: translateY( -50% );
	transform: translateY( -50% );
	-webkit-transition: opacity 250ms ease;
	-o-transition: opacity 250ms ease;
	-moz-transition: opacity 250ms ease;
	transition: opacity 250ms ease;
}
.store-locator-input-wrapper.loading::after {
	opacity: 1;
}
.store-locator-autocomplete-results {
	z-index: 3;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0 2px;
	background-color: #ffffff;
	-webkit-box-shadow: 0 0.1875rem 0.3125rem rgba( 0, 0, 0, 0.25 );
	-moz-box-shadow: 0 0.1875rem 0.3125rem rgba( 0, 0, 0, 0.25 );
	box-shadow: 0 0.1875rem 0.3125rem rgba( 0, 0, 0, 0.25 );
	-webkit-transition: visibility 250ms ease, opacity 250ms ease;
	-o-transition: visibility 250ms ease, opacity 250ms ease;
	-moz-transition: visibility 250ms ease, opacity 250ms ease;
	transition: visibility 250ms ease, opacity 250ms ease;
}
.store-locator-autocomplete-result {
	margin: 0;
	padding: 0.55rem 0.625rem;
	border-bottom: 1px solid #eeeeee;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 1 !important;
	font-size: 1em;
	cursor: pointer;
}
.store-locator-autocomplete-result::before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 1rem;
	height: 1rem;
	margin: 0 0.1875rem;
	background-image: url( '../img/marker-small.png' );
}
.store-locator-autocomplete-result:last-child {
	border-bottom-width: 0;
}
.store-locator-autocomplete-result.active {
	background-color: #f4f4f4;
}
.store-locator-input-wrapper input + .store-locator-autocomplete-results {
	visibility: hidden;
	opacity: 0;
}
.store-locator-input-wrapper input:focus + .store-locator-autocomplete-results:not(:empty) {
	visibility: visible;
	opacity: 1;
}


/**
 * Uploader
 */

.awcshm-preview-container {
	position: relative;
	width: 9.5rem;
	height: 9.5rem;
	background-color: rgba( 255, 255, 255, 0.5 );
	border: 1px solid #ddd;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-border-radius: 0.2rem;
	-moz-border-radius: 0.2rem;
	border-radius: 0.2rem;
	overflow: hidden;
}
.awcshm-preview-container .awcshm-filename-label {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba( 0, 0, 0, 0.75 );
	color: #fff;
	line-height: 1;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 0.5rem;
	text-align: center;
	font-size: 0.65rem;
}
.awcshm-preview-container .button.remove-button {
	position: absolute;
	top: 0;
	margin: 0.3rem;
	line-height: 1;
}
.awcshm-upload-assets-container.awcshm-is-filled .upload-button {
	display: none;
}
.awcshm-upload-assets-container.awcshm-is-empty .awcshm-preview-container {
	display: none;
}

/**
 * Orders Table
 */
.widefat .column-post_status {
	width: 2.8125rem;
	text-align: center;
}
.awcshm-status {
	display: inline-block;
}
.awcshm-status .awcshm-status-icon,
.awcshm-status .awcshm-status-label {
	display: inline-block;
	vertical-align: middle;
}
.awcshm-status .awcshm-status-icon {
	padding: 0.15rem;
	font-size: 1.125rem;
}
.awcshm-status .awcshm-status-icon::before {
	display: inline-block;
	vertical-align: middle;
	font-family: WooCommerce;
	speak: none;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	text-indent: 0;
	font-style: normal;
	font-size: inherit;
}
.awcshm-status.type--awcshm-done .awcshm-status-icon::before {
	content: '\e015';
	color: #73a724;
}
.awcshm-status.type--awcshm-failed .awcshm-status-icon::before {
	content: '\e013';
	color: #a00;
}
.awcshm-status.type--awcshm-scheduled .awcshm-status-icon::before {
	content: '\e012';
	color: #ffba00;
}
.awcshm-status.type--awcshm-pending .awcshm-status-icon,
.awcshm-status.type--awcshm-progress .awcshm-status-icon {
	width: 1em;
	height: 1em;
	background: transparent url( '../../../../../wp-includes/images/spinner.gif' ) center center no-repeat;
}
.awcshm-meta {
	display: block;
	color: #999;
	font-size: inherit;
	margin: 0.1875rem 0;
}
.awcshm-icon-button {
	display: -webkit-inline-box !important;
	display: -webkit-inline-flex !important;
	display: -moz-inline-box !important;
	display: -ms-inline-flexbox !important;
	display: inline-flex !important;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	width: 2em !important;
	height: 2em !important;
	margin: 0 0 0.125em 0.25em !important;
	padding: 0 !important;
}
.awcshm-icon-button .awcshm-icon-button-icon {
	font-size: 1em;
	height: auto;
	width: auto;
}

/**
 * Tooltips
 */
.awcshm-tooltip {
	position: relative;
}
.awcshm-tooltip .awcshm-tooltip-label {
	z-index: 1;
	position: absolute;
	top: 100%;
	left: 50%;
	-webkit-transform: translateX( -50% );
	-moz-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	-o-transform: translateX( -50% );
	transform: translateX( -50% );
	color: #fff;
	font-size: 0.8em;
	background-color: #333;
	text-align: center;
	border-radius: 0.234375em;
	padding: 0.618em 1em;
	-webkit-box-shadow: 0 1px 0.234375em rgba( 0, 0, 0, 0.2 );
	-moz-box-shadow: 0 1px 0.234375em rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 1px 0.234375em rgba( 0, 0, 0, 0.2 );
	white-space: nowrap;
	margin-top: 0.7em;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: opacity 0ms ease 0ms, visibility 0ms ease 0ms;
	-o-transition: opacity 0ms ease 0ms, visibility 0ms ease 0ms;
	-moz-transition: opacity 0ms ease 0ms, visibility 0ms ease 0ms;
	transition: opacity 0ms ease 0ms, visibility 0ms ease 0ms;
	line-height: 1.4;
}
.awcshm-tooltip .awcshm-tooltip-label::before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 50%;
	-webkit-transform: translateX( -50% );
	-moz-transform: translateX( -50% );
	-ms-transform: translateX( -50% );
	-o-transform: translateX( -50% );
	transform: translateX( -50% );
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0.5em 0.5em 0.5em;
	border-color: transparent transparent #333 transparent;
}
.awcshm-tooltip:hover .awcshm-tooltip-label {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 200ms;
	-moz-transition-delay: 200ms;
	-o-transition-delay: 200ms;
	transition-delay: 200ms;
}


/**
 * Dialogs
 */
[aria-describedby^="awcshm-modal-"] {
	right: auto;
	max-width: 100%;
}
[aria-describedby^="awcshm-modal-"] .ui-dialog-titlebar {
	font-size: 0.85rem;
}
.awcshm-modal-content .notice {
	margin: 0;
}
.awcshm-radio-list-container {
	margin-top: 1em;
	border-top: 1px solid #eee;
}
.awcshm-radio-list-item {
	display: block;
}
.awcshm-radio-list-item + .awcshm-radio-list-item {
	margin-top: 5px;
}
.awcshm-radio-list-item > * {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}


/**
 * Credit
 */
.awcshm-coupon-input {
	width: 100%;
	font-size: 2rem;
	text-align: center;
	font-family: courier;
	line-height: 1;
	direction: ltr;
}
.awcshm-coupon-input::-webkit-input-placeholder {
	color: #eee;
	font-family: Tahoma, Verdana;
}
.awcshm-coupon-input:-moz-placeholder {
	color: #eee;
	font-family: Tahoma, Verdana;
}
.awcshm-coupon-input::-moz-placeholder {
	color: #eee;
	font-family: Tahoma, Verdana;
}
.awcshm-coupon-input:-ms-input-placeholder {
	color: #eee;
	font-family: Tahoma, Verdana;
}
.awcshm-coupon-input::-ms-input-placeholder {
	color: #eee;
	font-family: Tahoma, Verdana;
}
.awcshm-coupon-input::placeholder {
	color: #eee;
	font-family: Tahoma, Verdana;
}
.awcshm-amounts-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid #eee;
}
.awcshm-amounts-container .awcshm-amount-button {
	width: auto;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin: 2px;
}
.awcshm-amount-input-container {
	display: block;
	width: 100%;
	text-align: center;
}
.awcshm-amount-input-container > * {
	display: inline-block;
	vertical-align: middle;
	margin-right: 0.3125rem;
	margin-left: 0.3125rem;
}
.awcshm-amount-input-container .awcshm-amount-input {
	font-size: 1.5rem;
	text-align: center;
	max-width: 12.5rem;
	direction: ltr;
}
.awcshm-amount-input-container .awcshm-amount-currency {
	font-size: 1.5rem;
}

/**
 * Tables
 */
.awcshm-horizonal-table {
	width: 100%;
}
.awcshm-horizonal-table label {
	display: inline-block;
	vertical-align: middle;1
}
.awcshm-horizonal-table td,
.awcshm-horizonal-table th {
	padding: 0.625rem;
	border-bottom: 1px solid #eee;
	font-size: 95%;
	text-align: left;
}
.awcshm-horizonal-table tbody tr:last-child td,
.awcshm-horizonal-table tbody tr:last-child th {
	border-bottom: 0 none;
}
.awcshm-horizonal-table textarea {
	width: 100%;
}
.awcshm-horizonal-table .awcshm-meta {
	font-size: 90%;
	line-height: 1.4;
}
.awcshm-horizonal-table a {
	font-weight: bold;
}
.post-type-shop_order .history-logs tbody td,
.post-type-shop_order .history-logs thead th,
.post-type-shop_order .history-logs tbody th,
.post-type-shop_order .awcshm-horizonal-table tbody td,
.post-type-shop_order .awcshm-horizonal-table thead th,
.post-type-shop_order .awcshm-horizonal-table tbody th {
	line-height: 1.5em;
	padding: 0.625rem !important;
	vertical-align: top !important;
}
.awcshm-horizonal-table thead th,
.awcshm-horizonal-table tbody th {
	width: 8.125rem !important;
}
.awcshm-horizonal-table thead td,
.awcshm-horizonal-table tbody td {
	width: auto !important;
}
.awcshm-horizonal-table tbody tr th[valign=middle] {
	vertical-align: middle !important;
}
.post-type-shop_order .history-logs .column-post_status {
	width: 2.8125rem;
	text-align: center;
}

/**
 * Filters
 */
.awcshm-shipping-time-filter {
	display: none;
	margin-top: 0.3125rem;
}
.awcshm-shipping-time-filter-trigger:checked ~ .awcshm-shipping-time-filter {
	display: inline-block;
	vertical-align: middle;
}
.awcshm-shipping-time-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.awcshm-shipping-time-container > select {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.awcshm-shipping-time-delimiter {
	margin: 0 2px;
}

/**
 * Meta Boxes
 */
[id^="alopeyk_woocommerce_shipping_method-"][id$="-actions"] .inside {
	margin: 0 !important;
	padding: 0 !important;
}
[id^="alopeyk_woocommerce_shipping_method-"][id$="-actions"] .order_actions {
	margin: 0;
	overflow: hidden;
	zoom: 1;
}
.awcshm-meta-box-actions-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0;
	padding: 0.375rem 0.625rem !important;
	border-top: 1px solid #ddd;
	border-bottom: 0 none;
	line-height: 1.6em;
}
.awcshm-meta-box-content-container {
	margin: 0;
	padding: 0.625rem 1.25rem !important;
}
.awcshm-single-action-container {
	width: 100%;
	text-align: left;
}
#alopeyk_woocommerce_shipping_method-wcorder-history .tablenav {
	display: none;
}
#alopeyk_woocommerce_shipping_method-wcorder-history .order_actions {
	overflow: visible;
}
.widefat .column-order_actions {
	width: 8.125rem;
}
.widefat .column-order_date {
	width: 12%;
}
.post-type-alopeyk_order.edit-php .actions.bulkactions {
	display: none;
}
.post-type-alopeyk_order.post-php .wp-heading-inline {
	visibility: hidden;
}
.post-type-alopeyk_order.post-php #post-body-content {
	display: none !important;
}
.awcshm-order-screenshot {
	display: block;
	width: 100%;
	height: auto;
	min-height: 10.28125rem;
	background-color: #eee;
}
.awcshm-address-info-box {
	min-width: auto;
	margin-bottom: 0;
}
.awcshm-address-info-box + .awcshm-address-info-box {
	margin-top: 0.625rem;
}
.awcshm-address-info-inside {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 1rem;
}
.awcshm-address-info-inside .awcshm-address-info-items {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	line-height: 1.4;
}
.awcshm-address-info-inside .awcshm-address-info-items > *:last-child {
	margin-bottom: 0;
}
.awcshm-address-signature {
	display: block;
	width: 5.625rem;
	height: auto;
	margin: 0 1rem;
}
.awcshm-address-info-title {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-moz-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	height: 2rem;
	padding: 0.3125rem 0.8rem;
	background-color: #f9f9f9;
	font-weight: 600;
	font-size: 0.75rem;
}
.awcshm-address-info-title + .awcshm-address-info-inside {
	border-top: 1px solid #e5e5e5;
}
.awcshm-address-info-title > * {
	margin: 0;
	line-height: 1;
}
#side-sortables .awcshm-address-info-inside {
	display: block;
}
#side-sortables .awcshm-address-info-inside .awcshm-address-signature {
	margin-top: 1rem;
}
#side-sortables .awcshm-address-info-title {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	height: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
#side-sortables .awcshm-address-info-title > img {
	margin-top: 0.25rem;
}
#side-sortables .awcshm-address-info-title > * {
	text-align: center;
	line-height: 1.4;
}

/**
 * Courier Info
 */
.awcshm-courier-info-container {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.awcshm-courier-avatar {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	display: inline-block;
	width: 4.2315em;
	height: 4.2315em;
	margin: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #e3e3e3;
}
.awcshm-courier-info-container .awchm-courier-info {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	margin: 0;
	padding: 0 0.625rem;
}
.awcshm-courier-info-container .awchm-courier-info .awcshm-meta {
	margin: 0;
	font-size: 0.9em;
}
.awcshm-courier-plate {
	direction: ltr;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 3.0625em;
	height: 1.875em;
	margin-top: 0.625rem;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url( '../img/plate-motorbike.png' );
	font-size: 1.4rem;
	line-height: 1;
	font-weight: bold;
	text-align: center;
}
.awcshm-courier-plate-component {
	font-size: 0.7em;
	margin: 1px 0;
}
.awcshm-courier-plate.type--cargo {
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-moz-box-orient: horizontal;
	-moz-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 6.25em;
	height: 1.3125em;
	padding-left: 1.2em;
	background-image: url( '../img/plate-automobile.png' );
}
.awcshm-courier-plate.type--cargo .awcshm-courier-plate-component {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.awcshm-courier-plate.type--cargo .component--b {
	margin: 0 0.2em;
}
.awcshm-courier-plate.type--cargo .component--d {
	-webkit-box-flex: 0;
	-webkit-flex-grow: 0;
	-moz-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	width: 2em;
	margin-left: 0.7em;
}

/**
 * Rate
 */
.awcshm-rate-courier-info {
	margin-bottom: 1.25rem;
	text-align: center;
}
.awcshm-rate-courier-info .awcshm-courier-avatar {
	font-size: 1.05rem;
}
.awcshm-rates-container {
	text-align: center;
}
.awcshm-rates-container > input,
.awcshm-rates-container > label {
	display: inline-block;
	vertical-align: middle;
}
.awcshm-rates-container > input {
	margin: 0 0 0 0.4375rem;
}
.awcshm-rates-container > label {
	margin: 0 0.4375rem 0 0;
}
.awcshm-rates-container .awcshm-radio-list-container {
	text-align: left;
}
.awcshm-rates-container #awcshm-rate-checkbox-5:checked ~ .awcshm-radio-list-container {
	display: none;
}
.awcshm-rate-description {
	display: none;
	width: 100%;
	margin-top: 0.625rem !important;
}
.awcshm-rates-container .awcshm-radio-list-container [value="others"]:checked ~ .awcshm-rate-description {
	display: block;
}

/**
 * Credit Widget
 */
.awcshm-credit-widget-wrapper {
	width: 100%;
	max-width: 31.25rem;
	margin: 10vh auto 0 !important;
}
.awcshm-credit-widget {
	text-align: center;
	line-height: 1.4;
}
.awcshm-credit-widget .awcshm-courier-avatar {
	display: inline-block;
	margin: 0 1rem 1rem;
	border: 0.25rem solid #ffffff;
	font-size: 2.45rem;
}
.awcshm-credit-widget-name {
	display: block;
	font-size: 1.8rem;
}
.awcshm-credit-widget-credit {
	display: block;
	margin-bottom: 1.25rem;
	font-size: 2.4375rem;
}
.awcshm-credit-widget-actions > * {
	margin: 0.2rem !important;
}

/**
 * Support
 */
body[class*="_page_alopeyk-support"] #adminmenumain {
	width: 0;
}
body[class*="_page_alopeyk-support"] #wpfooter,
body[class*="_page_alopeyk-support"] #wpbody-content > *:not(.awcshm-support-container) {
	display: none !important;
}
body[class*="_page_alopeyk-support"] #wpwrap,
body[class*="_page_alopeyk-support"] #wpcontent,
body[class*="_page_alopeyk-support"] #wpbody,
body[class*="_page_alopeyk-support"] #wpbody-content,
.awcshm-support-container {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: auto;
	padding: 0;
	overflow: hidden;
}
.awcshm-support-sidebar {
	position: relative;
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 30%;
	max-width: 350px;
	background-color: #ffffff;
	-webkit-box-shadow: 1px 0px 1px rgba( 0, 0, 0, 0.04 );
	-moz-box-shadow: 1px 0px 1px rgba( 0, 0, 0, 0.04 );
	box-shadow: 1px 0px 1px rgba( 0, 0, 0, 0.04 );
	border-left: 1px solid #e5e5e5;
	overflow: hidden;
}
.awcshm-support-sidebar,
.awcshm-support-chat-open {
	-webkit-transition: -webkit-transform 250ms ease;
	transition: -webkit-transform 250ms ease;
	-o-transition: -o-transform 250ms ease;
	-moz-transition: transform 250ms ease, -moz-transform 250ms ease;
	transition: transform 250ms ease;
	transition: transform 250ms ease, -webkit-transform 250ms ease, -moz-transform 250ms ease, -o-transform 250ms ease;
}
.awcshm-support-sidebar-frame {
	display: block;
}
.awcshm-support-content {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	padding: 5%;
}
.awcshm-support-content-items-wrapper {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-grow: 1;
}
.awcshm-support-content-item {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	width: 25%;
	padding: 0.3125rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.awcshm-support-content-item-header,
.awcshm-support-content-item-footer {
	padding: 0.75rem 1.25rem;
	background-color: #fafafa;
	text-align: center;
}
.awcshm-support-content-item-header {
	border-bottom: 1px solid #ddd;
}
.awcshm-support-content-item-footer {
	border-top: 1px solid #ddd;
}
.awcshm-support-content-item-body {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	-moz-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}
.awcshm-support-content-item-body-inner {
	padding: 10%;
}
.awcshm-support-content-item-inner {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-moz-box-orient: vertical;
	-moz-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-shadow: 0.125rem 0.125rem 0.3125rem rgba( 0, 0, 0, 0.1 );
	-moz-box-shadow: 0.125rem 0.125rem 0.3125rem rgba( 0, 0, 0, 0.1 );
	box-shadow: 0.125rem 0.125rem 0.3125rem rgba( 0, 0, 0, 0.1 );
	background-color: #ffffff;
}
.awcshm-support-content-item .dashicons {
	width: auto;
	height: auto;
	font-size: 2.5rem;
	color: #ffffff;
	text-shadow: 1px 1px 3px rgba( 0, 0, 0, 0.5 );
}
.awcshm-support-chat-open,
.awcshm-support-chat-close {
	z-index: 1;
	text-align: center;
	height: 3.1rem;
	width: 3.1rem;
}
.awcshm-support-chat-open .dashicons,
.awcshm-support-chat-close .dashicons {
	width: auto;
	height: auto;
	font-size: 1.5rem;
	line-height: 3.15rem;
}
.awcshm-support-chat-close {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.awcshm-support-chat-open {
	position: fixed;
	bottom: 0;
	display: none;
	margin: 2rem;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #ffffff;
	background-color: #0085ba;
	-webkit-box-shadow: 0 0 0.3125rem rgba(0,0,0,0.3);
	-moz-box-shadow: 0 0 0.3125rem rgba(0,0,0,0.3);
	box-shadow: 0 0 0.3125rem rgba(0,0,0,0.3);
}
#awcshm-support-chat-toggler:checked ~ .awcshm-support-sidebar {
	-webkit-transform: translateY( 0 );
	-moz-transform: translateY( 0 );
	-ms-transform: translateY( 0 );
	-o-transform: translateY( 0 );
	transform: translateY( 0 );
}
#awcshm-support-chat-toggler:checked ~ .awcshm-support-chat-open {
	-webkit-transform: translateY( 7rem );
	-moz-transform: translateY( 7rem );
	-ms-transform: translateY( 7rem );
	-o-transform: translateY( 7rem );
	transform: translateY( 7rem );
}
@media only screen and (max-width: 1599px) {
	.awcshm-support-content-item {
		width: 50%;
	}
}
@media only screen and (max-width: 1199px) {
	.awcshm-support-chat-open,
	.awcshm-support-chat-close {
		display: block;
	}
	.awcshm-support-sidebar {
		position: fixed;
		top: 32px;
		bottom: 0;
		left: 160px;
		right: 0;
		width: auto;
		max-width: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		border: 0 none !important;
		-webkit-transform: translateY( 100% );
		-moz-transform: translateY( 100% );
		-ms-transform: translateY( 100% );
		-o-transform: translateY( 100% );
		transform: translateY( 100% );
	}
	/* RTL Fix */
	[dir="rtl"] .awcshm-support-sidebar {
		right: 160px;
		left: 0;
	}
}
@media only screen and (min-width: 783px) and (max-width: 960px) {
	.awcshm-support-sidebar {
		left: 36px;
	}
	/* RTL Fix */
	[dir="rtl"] .awcshm-support-sidebar {
		left: 0;
		right: 36px;
	}
}
@media only screen and (max-width: 782px) {
	.awcshm-support-sidebar {
		position: fixed;
		top: 46px;
		left: 0;
	}
	/* RTL Fix */
	[dir="rtl"] .awcshm-support-sidebar {
		left: 0;
		right: 0;
	}
}
@media only screen and (max-width: 600px) {
	.awcshm-support-content {
		margin-top: 3rem;
	}
	.awcshm-support-content-item {
		width: 100%;
	}
}

/**
 * RTL Fix
 */
[dir="rtl"] .store-locator-input-wrapper::after {
	left: 0.375rem;
	right: auto;
}
[dir="rtl"] .awcshm-horizonal-table td,
[dir="rtl"] .awcshm-horizonal-table th {
	text-align: right;
}
[dir="rtl"] .awcshm-rates-container > input {
	margin-left: 0;
	margin-right: 0.4375rem;
}
[dir="rtl"] .awcshm-rates-container > label {
	margin-left: 0.4375rem;
	margin-right: 0;
}
[dir="rtl"] .awcshm-rates-container .awcshm-radio-list-container {
	text-align: right;
}
[dir="rtl"] .awcshm-support-sidebar {
	border-left: 0 none;
	border-right: 1px solid #e5e5e5;
}